IT2Darbas.xml

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
  targetNamespace="/Ziukas/AutomobiliuAikstele">
  <xs:element name="AutomobiliuAikstele" type="cmn:AutomobiliuAiksteleTipas">
    <xs:key name="AutomobilioRaktas">
      <xs:selector xpath="grupe/Automobilis"/>
      <xs:field xpath="@id"/>
    </xs:key>
    <xs:keyref name="RaktasIParduotaAutomobili" refer="AutomobilioRaktas">
      <xs:selector xpath="parduotiAutomobiliai/Automobilis"/>
      <xs:field xpath="@id"/>
    </xs:keyref>
  </xs:element>

    <xs:complexType name="AutomobiliuAiksteleTipas">
      <xs:sequence>
        <xs:element name="grupe" type="GrupeTipas" maxOccurs="unbounded"/>
        <xs:element name="parduotiAutomobiliai" type="GrupeTipas"/>
      </xs:sequence>
    </xs:complexType>

    <xs:complexType name="GrupeTipas">
      <xs:sequence>
        <xs:element name="Automobilis" type="AutomobilisTipas" maxOccurs="unbounded"/>
        <xs:element name="Elektromobilis" type="ElektromobilisTipas" minOccurs="0" />
      </xs:sequence>
      <xs:attribute name="kebuloTipas" type="xs:string"/>
    </xs:complexType>

    <xs:complexType name="AutomobilisTipas">
      <xs:all>
        <xs:element name="BendraInformacija" type="BendraInformacijaTipas"/>
        <xs:element name="Variklis" type="VariklisTipasSunkvezimis" minOccurs="0"/>
        <xs:element name="Ratai" type="RataiTipas"/>
      </xs:all>
      <xs:attribute name="id" type="idTipas"/>
    </xs:complexType>

    <xs:complexType name="ElektromobilisTipas">
      <xs:complexContent>
        <xs:restriction base="AutomobilisTipas">
          <xs:sequence>
            <xs:element name="BendraInformacija" type="BendraInformacijaTipas"/>
            <xs:element name="Ratai" type="RataiTipas"/>
          </xs:sequence>
        </xs:restriction>
      </xs:complexContent>
    </xs:complexType>

  <xs:simpleType name="idTipas">
    <xs:restriction base="xs:string">
      <xs:maxLength value="5"/>
    </xs:restriction>
  </xs:simpleType>

    <xs:complexType name="BendraInformacijaTipas">
      <xs:sequence>
        <xs:element name="Marke" type="xs:string"/>
        <xs:element name="Modelis" type="xs:string"/>
        <xs:element name="PagaminimoData" type="xs:string"/>
        <xs:element name="kaina" type="KainaSuRibojimu"/>
      </xs:sequence>
    </xs:complexType>

    <xs:complexType name="VariklisTipas">
      <xs:sequence>
        <xs:element name="KuroTipas" type="KuroTipasTipasSuDarbiniuTuriuApribotas"/>
        <xs:choice>
        <xs:element name="GaliaKW" type="xs:integer"/>
        <xs:element name="GaliaAG" type="xs:integer"/>
      </xs:choice>
      </xs:sequence>
      <xs:attribute name="serijosNumeris" type="xs:string"/>
    </xs:complexType>

    <xs:simpleType name="KuroTipasTipas">
      <xs:restriction base="xs:string"/>
    </xs:simpleType>

    <xs:complexType name="RataiTipas">
      <xs:sequence>
        <xs:element name="PagaminimoData" type="xs:string"/>
        <xs:element name="Padangos" type="xs:string" minOccurs="0"/>
        <xs:element name="PadanguSlegis" type="PadanguSlegisList" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute name="dydis" type="xs:integer"/>
    </xs:complexType>

    <xs:simpleType name="PadanguSlegisList">
      <xs:list itemType="xs:decimal"/>
    </xs:simpleType>

    <xs:complexType name="Kaina">
      <xs:simpleContent>
        <xs:extension base="xs:integer"/>
      </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="KainaSuRibojimu">
      <xs:simpleContent>
        <xs:restriction base="Kaina">
          <xs:maxInclusive value="5000"/>
        </xs:restriction>
      </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="VariklisTipasSunkvezimis">
      <xs:complexContent>
        <xs:extension base="VariklisTipas">
          <xs:sequence>
            <xs:element name="traukiamojiGalia" minOccurs="0"/>
          </xs:sequence>
        </xs:extension>
      </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="KuroTipasTipasSuDarbiniuTuriuApribotas">
      <xs:simpleContent>
        <xs:restriction base="KuroTipasSuDarbiniuTuriu">
          <xs:enumeration value="Dyzelinas"/>
          <xs:enumeration value="Benzinas"/>
          <xs:enumeration value="Benzinas/dujos"/>
        </xs:restriction>
      </xs:simpleContent>
    </xs:complexType>

    <xs:complexType name="KuroTipasSuDarbiniuTuriu">
      <xs:simpleContent>
        <xs:extension base="KuroTipasTipas">
          <xs:attribute name="DarbinisTuris" type="xs:decimal"/>
        </xs:extension>
      </xs:simpleContent>
    </xs:complexType>
</xs:schema>



<!-- //Blogas apribojimo principas
<xs:complexType name="KuroTipasTipasApribotas">
  <xs:simpleContent>
    <xs:restriction base="KuroTipasTipas">
      <xs:enumeration value="Dyzelinas"/>
      <xs:enumeration value="Benzinas"/>
      <xs:enumeration value="Benzinas/dujos"/>
    </xs:restriction>
  </xs:simpleContent>
</xs:complexType>

<xs:complexType name="ApribotasKuroTipasSuDarbiniuTuriu">
  <xs:simpleContent>
    <xs:extension base="KuroTipasTipasApribotas">
      <xs:attribute name="DarbinisTuris" type="xs:decimal"/>
    </xs:extension>
  </xs:simpleContent>
</xs:complexType> -->

Paprastas tipas, apribojantis kokį nors Schema standartinį tipą, + Kaina

Prasmingas sąrašo tipas (list type). Neprasmingo sąrašo tipo pavyzdys:
 sąrašas iš string tipo elementų. Neprasmingas todėl,
 kad jį galima pakeisti vienu paprastu tipu: string. + PadanguSlegisList

Sudėtingi tipai su paprastu turiniu,
  išvesti apribojimu (restriction) iš jūsų (ne XML Schema) bazinio tipo + KainaSuRibojimu
  išvesti praplėtimu (extension) iš jūsų bazinio tipo + KuroTipasTipasSuDarbiniuTuriuApribotas

Sudėtingi tipai su sudėtingu turiniu,
  išvesti apribojimu (restriction) iš jūsų bazinio tipo + ElektromobilisTipas
  išvesti praplėtimu (extension) iš jūsų bazinio tipo + VariklisTipasSunkvezimis


Pademonstruoti apribojimo principą - parodyti pavyzdį, kai apribojimo principas
pažeistas, ir žinoti, kaip reikia pataisyti pavyzdį, + KuroTipasTipasApribotas, KuroTipasTipasSuDarbiniuTuriuApribotas

Sudėtingas tipas su mišriu turiniu, + AutomobilisTipas

choice valdymo struktūra,  +GaliaAG, GaliaKW

Bent viena nuoroda (keyref) į unikalumo ribojimą (unique) arba raktą (key) + AutomobilioRaktas

Visi jūsų susikurti tipai turi priklausyti jūsų vardų sričiai
